[submodule "solverstack-infra"]
	path = solverstack-infra
	url = https://github.com/andromia/solverstack-infra
[submodule "solverstack-client"]
	path = solverstack-client
	url = https://github.com/andromia/solverstack-client
[submodule "solverstack-user-auth"]
	path = solverstack-user-auth
	url = https://github.com/andromia/solverstack-user-auth
[submodule "solverstack-user-crud"]
	path = solverstack-user-crud
	url = https://github.com/andromia/solverstack-user-crud
[submodule "solverstack-route"]
	path = solverstack-route
	url = https://github.com/andromia/solverstack-route
[submodule "solverstack-crud"]
	path = solverstack-crud
	url = https://github.com/andromia/solverstack-vrp-crud
[submodule "solverstack-gallery"]
	path = solverstack-gallery
	url = https://github.com/andromia/solverstack-gallery
[submodule "solverstack-queue"]
	path = solverstack-queue
	url = https://github.com/andromia/solverstack-queue
[submodule "solverstack-geocode"]
	path = solverstack-geocode
	url = https://github.com/andromia/solverstack-geocode
[submodule "solverstack-depot"]
	path = solverstack-depot
	url = https://github.com/andromia/solverstack-depot
