[submodule "solverstack-infra"]
	path = solverstack-infra
	url = https://github.com/andromia/solverstack-infra
[submodule "solverstack-web"]
	path = solverstack-web
	url = https://github.com/andromia/solverstack-web
[submodule "solverstack-user"]
	path = solverstack-user
	url = https://github.com/andromia/solverstack-user
[submodule "solverstack-route"]
	path = solverstack-route
	url = https://github.com/andromia/solverstack-route
[submodule "solverstack-gallery"]
	path = solverstack-gallery
	url = https://github.com/andromia/solverstack-gallery
[submodule "solverstack-queue"]
	path = solverstack-queue
	url = https://github.com/andromia/solverstack-queue
[submodule "solverstack-geocode"]
	path = solverstack-geocode
	url = https://github.com/andromia/solverstack-geocode
[submodule "solverstack-depot"]
	path = solverstack-depot
	url = https://github.com/andromia/solverstack-depot
